<mat-toolbar>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>CS 5220 Final Presentation</span>
    <span class="example-spacer"></span>
    <!-- <button (click) = "loadHome()" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>home</mat-icon>
    </button> -->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar>
  <mat-menu #menu="matMenu">
    <!-- <button mat-menu-item (click)="loadFetch()">
      <mat-icon>cloud_download</mat-icon>
      <span>Fetch</span>
    </button>
    <button mat-menu-item (click)="loadStore()">
      <mat-icon>insert_link</mat-icon>
      <span>Insert</span>
    </button> -->

    <button mat-menu-item (click)="loadClick()">
      <mat-icon>cloud_download</mat-icon>
      <span>Click Event</span>
    </button>
    <button mat-menu-item (click)="loadInitial()">
      <mat-icon>cloud_download</mat-icon>
      <span>Initial Event</span>
    </button>
    <button mat-menu-item (click)="loadHover()">
      <mat-icon>cloud_download</mat-icon>
      <span>Hover Event</span>
    </button>
    <button mat-menu-item (click)="loadZoom()">
      <mat-icon>cloud_download</mat-icon>
      <span>Zoom Config</span>
    </button>
    <button mat-menu-item (click)="loadAnimation()">
      <mat-icon>cloud_download</mat-icon>
      <span>Animation Config</span>
    </button>

    <button mat-menu-item (click)="loadSVG()">
      <mat-icon>cloud_download</mat-icon>
      <span>ExportSVG</span>
    </button>
    
  </mat-menu>