

  <div class="portal-header">
    Welcome to Electrical Health Record Portal
  </div>
  
  <div class="col-md-12 row">
    <div class="col-md-3">

    </div>
    <div class="col-md-3 card-ink">
        <mat-card class="example-card">
            <mat-card-subtitle>Fetch Details</mat-card-subtitle>
            <mat-card-title></mat-card-title>
            <mat-card-content>
              <p>This page will fetch the patient details</p>
              <!-- <p>{{ longText }}</p> -->
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button (click)="loadFetch()" mat-stroked-button class="border-button">Redirect to Fetch Screen</button>
              
            </mat-card-actions>
            <mat-card-footer>
              <!-- <mat-progress-bar mode="buffer"></mat-progress-bar> -->
            </mat-card-footer>
          </mat-card>
    </div>
    <div class="col-md-3 card-ink">
        <mat-card class="example-card">
            <mat-card-subtitle>Insert Details</mat-card-subtitle>
            <mat-card-title></mat-card-title>
            <mat-card-content>
              <p>This page will insert the patient details</p>
              <!-- <p>{{ longText }}</p> -->
            </mat-card-content>
            <mat-divider inset></mat-divider>
            <mat-card-actions>
              <button (click)="loadStore()" mat-stroked-button class="border-button">Redirect to Insert Screen</button>
              
            </mat-card-actions>
            <mat-card-footer>
              <!-- <mat-progress-bar mode="buffer"></mat-progress-bar> -->
            </mat-card-footer>
          </mat-card>
    </div>
    <div class="col-md-3">

    </div>

  </div>