<!-- <div class="medium-height">
    <ngx-charts-advanced-pie-chart
  [results]="data"
  [scheme]="colorScheme">
  <ng-template #tooltipTemplate let-model="model">
    <h1>
      {{model.name}}
    </h1>
    <h2>{{model.value}}%</h2>
  </ng-template>
</ngx-charts-advanced-pie-chart>
</div>
 -->

 <!-- <plotly-plot 
 [data]="graph.data" 
 [config] = "config" 
 [layout]="graph.layout" 
 (initialized)="triggerInitial($event)" 
 (afterPlot)="triggerAfter($event)" 
 (beforeExport)="triggerAfterExport($event)" 
 (hover)="triggerHover($event)" 
 (doubleClick)="triggerClick($event)"
 (buttonClicked)="triggerClick($event)"
>
</plotly-plot> -->

<button (click)="randomize()">Randomize!</button>
<plotly-plot divId="myDiv" [data]="newGraph.data" [layout]="newGraph.layout"></plotly-plot>

<!-- <plotly-plot [data]="scatterPlot.data" [layout]="scatterPlot.layout"></plotly-plot> -->
<!-- <plotly-plot [data]="omarkersChart.data" [layout]="omarkersChart.layout"></plotly-plot> -->
<!-- <plotly-plot [data]="barChartPlot.data" [layout]="barChartPlot.layout"></plotly-plot> -->
<!-- <plotly-plot [data]="pieChart.data" [layout]="pieChart.layout"></plotly-plot> -->

