<div mat-dialog-content class="bold" >
  
    Name : John Doe
    <br>
    Address : 5151 State University Drive CA 91801
    <br>
    Contact No. : ###-###-####
    <br>
    Email : abcd@gmail.com
    <br>
    Health Status : {{data[11] | health}}
    <br>
    <!-- <div class="padding">
        Name : John Doe

    </div>
    
    <div class="padding">
        Address : 5151 State University Drive CA 91801

    </div>
    <div class="padding">
        <div >
        Contact No. : ###-###-####

    </div>
    <div class="padding">
        <div >
        Email : abcd@gmail.com
    </div>
    <div class="padding">
        <div >
        Health Status : {{data[11] | health}}

    </div> -->

  
  
</div>
  

<div mat-dialog-actions class="padding" style="float : right">
    <button mat-button (click)="onNoClick()">Close</button>
    <!-- <button mat-button cdkFocusInitial>Ok</button> -->
  </div>

